
<html>
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Potovanja po Evropskih mestih</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel = "stylesheet" href="/static/css/style.css"
  </head>
  <body>
    <div class = "container">
      {{ !base}}
    </div>
    <div>
    <p style = "color:red">
      Navadno besedilo
    </p>
    <h2 style = "background-color: green">
      To je naslov.
    </h2>
    <h2 style = "background-color: green">
      pa še malo
    </h2>
    </div>
    
  </body>
</html>